//Import Nextflow plugin implementing support for AWS computing service and storage
plugins {
    id 'nf-amazon'
}

/*
Specify AWS Batch for Nextflow job execution
AWS Batch job queue name configured in AWS Batch
Docker container name and version used within Amazon ECS environment
*/
process {
    executor = 'awsbatch'
    queue = 'nextflow-rnaseq-queue'
    container = 'docker.io/lacv/nextflow-rnaseq:latest'
}

/*
Specify path to AWS CLI tool when installed in a custom AMI
Specify AWS region where the workflow will run
*/
aws{
    batch{
        cliPath = 'home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-east-1'
}

//S3 bucket to hold intermediate files and work directory preconfigured in S3
workDir = 's3://nextflow-s3-bucket/nextflow_work/'
