<plugin name='cin' version='0.1.6' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/cin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>CinCommand</resource>
    <resource>CinController</resource>
    <resource>CinService</resource>
  </resources>
  <dependencies>
    <plugin name='gcore' version='0.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>